@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  button {
    cursor: pointer;
    text-align: center;
    border-radius: 5px;

    @apply px-5 py-2 flex justify-center text-sm text-center items-center;
  }

  .btn-primary-default {
    @apply text-[#fff] bg-[#23C0ADE5];
  }

  .btn-primary-space {
    @apply text-space bg-[#237EC0];
  }

  .btn-secondary-default {
    @apply text-[#6823C0] border-[#6823C0] border;
  }

  .btn-secondary-space {
    @apply text-space border-space;
  }

  .text-primary-default {
    @apply text-[#000] text-4xl;
  }

  .text-primary-space {
    @apply text-space text-4xl;
  }

  .text-secondary-default {
    @apply text-[#000] text-opacity-80 text-xl underline mt-[40px];
  }

  .text-secondary-space {
    @apply text-space text-opacity-80 text-xl underline mt-[40px];
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
